<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>

<body>
    Layout's index.html.
    {{ range .Site.Taxonomies.authors  }}
        <p>.Page.Title</p>
    {{ end }}
    <p><a href="/posts"> Posts </a></p>
    <p><a href="/posts/test/"> Blog Post </a></p>
    <p><a href="/authors"> Authors </a></p>
</body>

</html>